<h2>Welcome to GitFit!</h2>
<h2>Hello {{userData.first_name}} {{userData.last_name}}</h2>
<div class="main-wrapper">
  <div class="wrapper">
    {{#each exercises as |exercise|}}
      <div class="exercise-item">
        <a
          class="btn"
          data-bs-toggle="collapse"
          href="#collapse-{{exercise.exercise_id}}"
          role="button"
          aria-expanded="false"
          aria-controls="collapse"
        >
          <h4 class="exercise_name">{{exercise.exercise_name}}
            <span class="muscle-group">({{exercise.muscle_group}})</span></h4>
        </a>
        <button class="add" ><i class="fa-solid fa-circle-plus fa-2x" data-name="{{exercise.exercise_name}}" data-duration="{{exercise.duration}}" data-rest_time="{{exercise.rest_time}}" data-exercise_id="{{exercise.exercise_id}}"></i></button>
      </div>
      <div class="collapse" id="collapse-{{exercise.exercise_id}}">
        <div class="card card-body">
          <div class="item-description">
            <img class="gifs" src="gifs/{{exercise.exercise_id}}.gif" alt="" />
            <p>{{exercise.description}}</p>
            <p class="duration">Duration: {{exercise.duration}}s</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  
  <div class="wrapper-2">
    <div class="container">
      <ul class="list">

      </ul>
      <h4 class="total_duration">Duration: 0s</h4>
    </div>
  </div>

</p>
<script src="./js/homepage.js" type="application/javascript"></script>