
<h1  class="profile">My Profile</h1>
<div class="container">

    <div class="user-info">
        {{#each users as |user|}}

            <div>

            <p>First name: {{user.first_name}}</p>
            <p>Last name: {{user.last_name}}</p>
            <p>Email: {{user.email}}</p>
            <p>Weight: {{user.weight}}</p>
            <p>Height: {{user.height}}</p>
            <p>Age: {{user.age}}</p>
            
            </div>
            
        {{/each}}
    </div>

    <div class="new-user-info">
        <div class="row justify-space-between-md">
        
            <div class="login-card">
                <h2 class="page-title">Update Info Here</h2>
                <form class="form signup-form">

                <div class="form-group">
                    <label for="email-signup">Email:</label>
                    <input class="form-input" type="text" id="email-signup" />
                </div>

                <div class="form-group">
                    <label for="password-signup">Password:</label>
                    <input class="form-input" type="password" id="password-signup" />
                </div>

                <div class="form-group">
                    <label for="username-signup">Weight:</label>
                    <input class="form-input" type="number" id="username-signup" />
                </div>

                <div class="form-group">
                    <label for="username-signup">Height:</label>
                    <input class="form-input" type="number" id="username-signup" />
                </div>

                <div class="form-group">
                    <label for="username-signup">Age:</label>
                    <input class="form-input" type="number" id="username-signup" />
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Update</button>
                </div>
                </form>
            </div>
        </div>
    </div>

</div>



=======
<h1 class="profileHeader">{{userData.first_name}}'s Profile</h1>

<div class="main-profile">
  <div class="profile_wrapper">
    <div class="profile">
      <img
        class="profileImg"
        src="/images/index-{{userData.username}}.JPG"
        alt=""
        value="{{userData.id}}"
      />
    </div>
    <form action="/myProfile" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="exampleFormControlFile1">Upload:</label>
        <input
          name="myImage"
          type="file"
          class="form-control-file"
          id="exampleFormControlFile1"
        />
      </div>
      <button class="save">Save</button>
    </form>
  </div>
  <div class="profile-data">
    <h4 >First Name: {{userData.first_name}}</h4 >
    <h4 >Last Name: {{userData.last_name}}</h4 >
    <h4 >Email: {{userData.email}}</h4 >
    <h4 >Username: {{userData.username}}</h4 >
    <div class="profile-info">
      <label for="age">Age: </label>
      <input name="age" id="age"  disabled="true">{{userData.age}}</input>
    </div>
   <div class="profile-info">
      <label for="height">Height: </label>
      <input name="height" id="height"  disabled="true">{{userData.height}}</input>
   </div>
    <div class="profile-info">
      <label for="weight">Weight: </label>
      <input name="weight" id="weight"  disabled="true">{{userData.weight}}</input>
    </div>



    <button class="edit btn primary">Edit</button>
    <button class="btn success">Save</button>
  </div>
</div>

<script src="./js/profile.js" type="application/javascript"></script>